<!-- static/scripts/activity_scripts/add_activity.html -->

{% extends "layout.html" %}

{% block title %}Agregar nueva actividad o taller{% endblock %}

{% block content %}
    <h1>Agregar nueva actividad o taller:</h1>

    <!-- Container for error or success messages -->
    <div id="message-box"></div>
    
    <form id="add-activity-form">
        <label>Nombre: <input type="text" name="name" required></label><br>
        <label>Descripción: <textarea name="description"></textarea></label><br>
        <label>Horario: <input type="text" name="schedule" required></label><br>
        <label>Fecha de inicio: <input type="date" name="start_date" required></label><br>
        <label>Fecha de fin: <input type="date" name="end_date" required></label><br>
        <label>Nro. máximo de participantes: <input type="number" name="capacity" min="1" required></label><br>
        <button type="submit">Guardar</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/activity_scripts/add_activity.js') }}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
