{% extends "layout.html" %}

{% block title %}Agregar nueva actividad o taller{% endblock %}

{% block content %}
    <h1>Agregar nueva actividad o taller:</h1>

    <!-- Container for error or success messages -->
    <div id="message-box" style="color: red; font-weight: bold;"></div>
    
    <form id="add-activity-form">
        <label>Nombre: <input type="text" name="name"></label><br>
        <label>Descripción: <textarea name="description"></textarea></label><br>
        <label>Horario: <input type="text" name="schedule"></label><br>
        <label>Fecha de inicio: <input type="date" name="start_date"></label><br>
        <label>Fecha de fin: <input type="date" name="end_date"></label><br>
        <label>Nro. máximo de participantes: <input type="number" name="capacity"></label><br>
        <button type="submit">Guardar</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/activity_scripts/add_activity.js') }}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
