<!-- templates/activity_templates/show_activities.html 
    Esta es la que está incompleta y debemos mejorar siguiendo el modelo 
    de templates/member_templates/show_members.html
-->

{% extends "layout.html" %}

{% block title %}Actividades y talleres:{% endblock %}

{% block content %}
    <h1 id="activities-title">Actividades y talleres:</h1>
    <div id="message-box" class=""></div>
        <table id="activitiesTable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Horario</th>
                    <th>Fecha de inicio</th>
                    <th>Fecha de fin</th>
                    <th>Capacidad</th>
                    <th>Acciones</th>
               </tr>
            </thead>
            <tbody>
                <!-- The activities will be dynamically inserted here by JavaScript -->
            </tbody>
        </table>
    </form>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='scripts/utils/messages.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/utils/confirmation.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/activity_scripts/show_activities.js') }}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}