# Python bytecode and cache files:
__pycache__/
*.py[cod]
*.pyo

# OS archive files:
.DS_Store
Thumbs.db

# Temporary or common log files:
*.log

# Virtual environments:
jubi_gestion/

# Ignore "database" directory and its contents (temporarily):
database/


