{% extends "layout.html" %}

{% block title %}Socios{% endblock %}

{% block content %}
    <h1>Socios:</h1>
    <div id="message-box" class=""></div>
    <form method="GET" action="{{ url_for('member.get_all_members') }}">
        <table id="membersTable">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Apellido</th>
                    <th>Nombres</th>
                    <th>Nro. PAMI</th>
                    <th>Fecha de nacimiento</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Dirección</th>
                    <th>Status</th>
                    <th>Fecha de alta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- The members will be dynamically inserted here by JavaScript -->
            </tbody>
        </table>
    </form>

{% endblock %}
 {% block scripts %}
    <script src="{{ url_for('static', filename='scripts/member_scripts/show_members.js') }}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}