{% extends "layout.html" %}

{% block title %}Agregar nuevo socio{% endblock %}

{% block content %}
    <h1>Agregar nuevo socio:</h1>
    <form method="POST" action="{{ url_for('member.create_member') }}">
        <label>DNI: <input type="text" name="dni"></label><br>
        <p><strong>Sexo:</strong></p>
        <label><input type="radio" name="gender" value="M"> Masculino</label><br>
        <label><input type="radio" name="gender" value="F"> Femenino</label><br>
        <label>Nombres: <input type="text" name="first_names"></label><br>
        <label>Apellido: <input type="text" name="last_name"></label><br>
        <label>Nro. de afiliado de PAMI (si corresponde): <input type="text" name="pami_number"></label><br>
        <label>Fecha de nacimiento: <input type="date" name="birth_date"></label><br>
        <label>Teléfono: <input type="text" name="phone"></label><br>
        <label>Correo electrónico: <input type="email" name="email"></label><br>
        <label>Dirección: <input type="text" name="address"></label><br>
        <label>Fecha de ingreso: <input type="date" name="join_date"></label><br>
        <button type="submit">Guardar</button>
    </form>

{% endblock %}
 {% block scripts %}
    <script src="{{ url_for('static', filename='scripts/member_form.js') }}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}