<!-- 
    templates/layout.html
    Es una plantilla reutilizable para que no tengamos que repetir el HTML entero en cada archivo.
    Usamos el motor de plantillas de Flask llamado Jinja2.
-->

<!DOCTYPE html>
<html lang="es-AR">
<head>
    <meta charset="UTF-8">
    <title>JubiGestion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>JubiGestión</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Centro de Jubilados · Sistema en desarrollo</p>
    </footer>
</body>
</html>
